<div class="container-fluid">
  <div class="main">
    <div class="row head">
      <i class="fa fa-refresh"></i>
      <span>
        <h3>CHANGE PASSWORD</h3>
      </span>
    </div>
    <div class="card">
      <form>
        <div class="form-group m-l-20">
          <label>Current Password</label>
          <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group m-l-20">
            <label>New Password</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
          </div>
          <div class="form-group m-l-20">
              <label>Re-enter Password</label>
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
        <button type="submit" class="btn btn-primary m-l-20">Submit</button>
      </form>
    </div>
  </div>
</div>