<div class="container-fluid">
  <div class="main">
    <div class="row head">
      <i class="fa fa-ticket"></i>
      <span>
        <h3>RAISE A TICKET</h3>
      </span>
    </div>
    <div class="card">
      <form>
        <div class="form-group m-l-20">
          <label>Ticket Title</label>
          <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group m-l-20">
          <label>Ticket Description</label>
          <textarea class="form-control" type="text" id="desc" rows="4" cols="50"></textarea>
        </div>
        <div class="form-group m-l-20">
          <label>Ticket Priority</label>
          <select class="form-control">
            <option>Default select</option>
          </select>
        </div>
        <div class="form-group m-l-20">
          <label>Ticket Type</label>
          <select class="form-control">
            <option>Default select</option>
          </select>
        </div>
        <div class="form-group m-l-20">
          <label>Attachments</label>
          <input type="file" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="add_btn">
          <a><span class="btn" id="active">Add Another Attachment</span></a>
        </div>
        <button type="submit" class="btn btn-primary m-l-20">Submit</button>
      </form>
    </div>
  </div>
</div>