<div class="container-fluid">
  <div class="main" style="margin-bottom: 15px;">
    <h3>EDIT PROFILE</h3>
    <div class="card">
      <form>
        <div class="">
          <h4 class="heading">General Info</h4>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>User Name</label>
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
              <label>Date of Birth</label>
              <input type="date" class="form-control" id="name" placeholder="Name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>First Name</label>
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
              <label>Last Name</label>
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group  col-md-6">
              <label>Marital Status</label>
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group col-md-6" style="margin-top: 15px;">
              <label>Gender</label>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio">
                  <span class="radiobtn">Male</span>
                  <input type="radio" class="form-check-input" name="optradio">
                  <span class="radiobtn">Female</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <h4 class="heading">Contact Info</h4>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Mobile Number</label>
              <input type="text" class="form-control" id="name" placeholder="Name">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="mailnotification" checked>
                <label class="form-check-label cbl">
                  Show Email Address
                </label>
                <input class="form-check-input cb" type="checkbox" id="mailnotification" checked>
                <label class="form-check-label cbl">
                  Email Notifications
                </label>
                </div>
            </div>
            <div class="form-group col-md-6" style="margin-bottom:42px;">
              <label>Email Address</label>
              <input type="email" class="form-control" id="name" placeholder="Name">
            </div>
          </div>
          

          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Nationality</label>
              <select class="form-control">
                <option>Default select</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label>State</label>
              <select class="form-control">
                <option>Default select</option>
              </select>
            </div>
          </div>
          <div class="form-row" style="margin-left:15px">
            <div class="form-group">
              <label>Cities</label>
              <select class="form-control" style="width:99%;">
                <option>Default select</option>
              </select>
            </div>
          </div>
        </div>

        <div class="">
          <h4 class="heading">Residential Info</h4>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Present Address</label>
              <textarea type="text" class="form-control" id="name" placeholder="Name" rows="5"></textarea>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="mailnotification" checked>
                <label class="form-check-label cbl">
                  Same Permanent Address
                </label>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Permanent Address</label>
              <textarea type="text" class="form-control" style="margin-bottom: 42px;" id="name" placeholder="Name"
                rows="5"></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Industry</label>
              <select class="form-control">
                <option>Default select</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label>Functional Area</label>
              <select class="form-control">
                <option>Default select</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Skills</label>
              <select class="form-control">
                <option>Default select</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label>Current Designation</label>
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Total Experience</label>
              <input type="number" class="form-control" id="year" placeholder="Year">
            </div>
            <div class="form-group col-md-6">
              <label style="color:white">Total Experience</label>
              <input type="number" class="form-control" id="month" placeholder="Month">
            </div>
          </div>
          <div class="form-row" style="margin-left:20px;">
            <div class="form-group">
              <label>Profile Description</label>
              <textarea type="text" class="form-control" style="width:99%;" id="name" placeholder="Name"
                rows="5"></textarea>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary m-l-20">Submit</button>
        <button type="submit" class="btn btn-danger m-l-20">Cancel</button>
      </form>
    </div>
  </div>
</div>