<div class="container-fluid">
  <div class="main">
    <div class="row head">
      <i class="fa fa-building"></i>
      <span>
        <h3>COMPANY PROFILE</h3>
      </span>
    </div>
    <div class="card">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Company Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
          </div>
          <div class="form-group col-md-6">
            <label>Company Level</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Company Description</label>
            <textarea class="form-control" type="text" id="desc" rows="4" cols="50"></textarea>
          </div>
          <div class="form-group col-md-6">
            <label>Company Address</label>
            <textarea class="form-control" type="text" id="desc" rows="4" cols="50"></textarea>
          </div>
        </div>
        <div class="form-group m-l-20">
          <label>Website URL</label>
          <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group m-l-20">
            <label>Company Logo</label>
            <input type="file" class="form-control-file" id="logo">              
        </div>
        <button type="submit" class="btn btn-primary m-l-20">Submit</button>
      </form>
    </div>
  </div>
</div>