<section>
  <ul class="parent-menu">
    <li><a routerLink="/recruiter/job-list">
        <i class="fa fa-briefcase"></i><span>Jobs List</span></a></li>
    <li><a routerLink="/recruiter/job-post"><i class="fa fa-briefcase"></i>
        <span>Post A Job</span></a></li>
    <li>
      <a routerLink="/recruiter/company-profile"><i class="fa fa-user" aria-hidden="true"></i><span>Company Profile</span></a>
    </li>
    <li class="dropdown">
      <a><i class="fa fa-user" aria-hidden="true"></i><span>Resume Pool</span></a>
      <div class="dropdown-content">
    <li><a routerLink="/recruiter/resume-pool"><i class="fa fa-caret-right">
        </i>Resume Pool</a>
    </li>
    <li><a routerLink="/recruiter/resume-upload"><i class="fa fa-caret-right">
        </i>Resume Upload</a></li>
    </div>
    </li>
  </ul>

</section>


<!-- 
<ul class="menu">
    <li>
      <a routerLink="/recruiter/job-list" routerLinkActive="active-page">
        <i class="fa fa-briefcase"></i>
        <span>Jobs List</span>
      </a>
    </li>
    <li>
      <a routerLink="/recruiter/job-post">
        <i class="fa fa-briefcase"></i>
        <span>Post A Job</span>
      </a>
    </li>
    <li>
      <a routerLink="/recruiter/company-profile">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Company Profile</span>
      </a>
    </li>
    <li class="dropdown">
      <a>
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Resume Pool</span>
      </a>
      <div class="dropdown-content">
    <li>
      <a routerLink="/recruiter/resume-pool">
        <i class="fa fa-caret-right"></i>Resume Pool
      </a>
    </li>
    <li>
      <a routerLink="/recruiter/resume-upload">
        <i class="fa fa-caret-right"></i>Resume Upload
      </a>
    </li>
    </div>
    </li>
  </ul> -->